@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@402&display=swap');
/*base*/
body {
    padding: 0px;
    margin: 0px;
    font-family: 'Nunito', sans-serif;
}
* {
    font-family: 'Nunito', sans-serif;
}
a {
    text-decoration: none;
    color: black;
}
/**/
/*navbar*/
.navbar {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.nav-item {
    text-decoration: none;
    color: black;
    font-size: 30px;
}
/**/
/*carousel*/
.slideshow-container {
    width: 70%;
    position: relative;
}
.mySlides {
    display: none;
}
.mySlides img {
    width: 100%;
    border-radius: 15px;

}
/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    user-select: none;
    background: black;
    opacity: 70%;
    text-align: center;
    line-height: 50px;
}
/* Position the "next button" to the right */
.next {
    right: 0;
}
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}
.active, .dot:hover {
    background-color: #717171;
}
/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
/**/
/*form*/
input {
    width: 100%;
    height: 50px;
    outline: none;
    border: none;
    background: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
}
textarea {
    width: 100%;
    height: 90px;
    outline: none;
    border: none;
    background: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    resize: none;
}
.form {
    display: block;
    width: 60%;
    margin: 10px auto auto;
}
.field {
    width: 100%;
    margin-top: 30px;
}
label {
    font-size: 20px;
}
select {
    width:50%;
    margin-left: 20px;
    height: 50px;
    outline: none;
    border: none;
    background: #F5F5F5;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 900;
}
.button {
    outline: none;
    border:none;
    background: #469597;
    width: 30%;
    height: 40px;
    border-radius: 15px;
    margin-bottom: 40px;
    float: right;
    color:white;
    /*//*/
}
