{% extends 'base.html' %}
{% load static %}
{% block title %}
    Главная
{% endblock %}
{% block add %}

{% endblock %}
{% block content %}
    <div class="section">
        <div class="columns">
            {% for house in houses %}
                <div class="card">
                    <a href="{% url 'house:detail' house.pk %}">
                        <div class="image">
                        <img width="100%" height="100%" src="{{ house.preview.url }}" alt="">
                    </div>
                    <div class="title is-fixed is-3 text-centered">
                        {{ house.home_title }}...
                    </div>
                    <div class="title is-4">
                        {{ house.price }} sum
                    </div>
                    <div class="title is-6">
                        На сайте с: {{ house.date_added }}
                    </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}